deps.mk
docs/output
lib/gen/*
lib/empty.bin
lib/empty
lib/prune
lib/decls.h
lib/defns.h
lib/ops.h
lib/*.d
tests/*.d
build
copyjit
libcopyjit.a
examples/copyjit
tests/check
!include/copyjit
!lib/gen/.gitkeep
